---
const items = [
  {
    title: "memoir",
    urlText: "https://memoir-app.dev",
    url: "https://memoir-app.dev",
    src: "/memoir.jpg",
  },
  {
    title: "カウカウ - 架空のショッピングサイト",
    urlText: "https://kawkaw.app/",
    url: "https://kawkaw.app/",
    src: "/kawkaw.jpg",
  },
  {
    title: "OOMAKA",
    urlText: "https://oomaka.vercel.app",
    url: "https://oomaka.vercel.app",
    src: "/OOMAKA.jpg",
  },
  {
    title: "MarkyLinky",
    urlText: "Chrome Web Store",
    url: "https://chromewebstore.google.com/detail/markylinky/kjjjfmbnaamaogjpjdgeiffgjabbpmfp",
    src: "/markyLinky.jpg",
  },
];
---

<div>
  <h1 class="text-2xl mb-7">Works</h1>
  <div class="flex flex-wrap">
    {
      items.map((v) => (
        <div class="mb-8 md:mr-10">
          <a href={v.url} target="_blank" rel="noopener noreferrer">
            <img src={v.src} alt={v.title} width="300" />
            <div class="text-sm">{v.title}</div>
            <div class="text-xs font-light">{v.urlText}</div>
          </a>
        </div>
      ))
    }
  </div>
</div>
